@model EventViewModel

@{
    ViewBag.Title = "Add event to calendar";
}
<h2>@ViewBag.Title</h2>

<form id="uploadForm" method="post" enctype="multipart/form-data">

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.id!=0?"Update":"Create")  Document</h2>
            <hr/>
        </div>
        @if (@Model.id != 0)
        {
            <input hidden asp-for="@Model.id">
        }
        <div class="row">
            <div class="col-10">
                    
            </div>
            <div class="col-2">
                    
            </div>
                
        </div>
                 
        <div asp-validation-summary="All"></div>
        
            <div class="mb-3">
                <label asp-for="title"> Event title</label>
                <input asp-for="title" class="form-control"/>
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
        <div class="mb-3">
                <label asp-for="start"> Event start time</label>
                <input asp-for="start" asp-format="{0:yyyy-MM-ddTHH:mm}" class="form-control"  >
                <span asp-validation-for="start" class="text-danger"></span>
            </div>
        <div class="mb-3">
            <label asp-for="end"> Event end time </label>
            <input asp-for="end" class="form-control"/>
            <span asp-validation-for="end" class="text-danger"></span>
        </div>
       
    <div class="mb-3">
        <label asp-for="allDay"> Click the checkbox below if the event going to occur throughout the day? </label>
        <br/>
        
        <input type="checkbox" asp-for="allDay"/>Yes
        <span asp-validation-for="allDay" class="text-danger"></span>

    </div>
    
        <div class="col-12">
            
            @if (Model.id != 0)
            {
                <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
            }
            else{
                <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
            }
            <a asp-controller="Calender" asp-action="Index" class="btn btn-secondary" style="width: 150px">Back to List
            </a>
        </div>
    </div>
</form>
