@page


<div class="row">
   
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            
                    <form id="external-account" action="https://localhost:7151/Login" method="post" class="form-horizontal">
                        <div>
                            <p>
                              
                                
                                    <button type="submit" class="btn btn-primary" name="provider" title="Log in using your  account"></button>
                                
                            </p>
                        </div>
                    </form>
                
        </section>
    </div>
</div>

